node_modules
/.idea/.idea.CustomThreeTypescriptStarter.dir/.idea/.gitignore
/.idea/.idea.CustomThreeTypescriptStarter.dir/.idea/indexLayout.xml
/.idea/.idea.CustomThreeTypescriptStarter.dir/.idea/vcs.xml
